<!DOCTYPE html>
<html lang="en"
      th:replace="~{mopslayout :: html(name='Foren', headcontent=~{:: headcontent}, navigation=~{:: navigation}, bodycontent=~{:: bodycontent})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>Foren</title>
  <th:block th:fragment="headcontent">
    <script src="https://kit.fontawesome.com/20ec73082f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}">
  </th:block>
</head>
<body>
<header>
  <nav class="navigation navigation-secondary" is="mops-navigation" th:fragment="navigation">
    <ul>
      <li class="active">
        <a th:href="@{/foren}">Meine Foren</a>
      </li>
      <li>
        <a th:href="@{/foren/profile}">Profil</a>
      </li>
    </ul>
  </nav>
</header>
<main th:fragment="bodycontent">
  <div class="alert alert-warning" id="error-message" th:if="${error} != null" th:text="${error}">
    error message goes here (or not)
  </div>
  <h1>Beitrag erstellen:</h1>
  <form id="thread-form" method="post" th:object="${form}"
        th:action="@{/foren/thread/add-thread(topicId=${topicId})}">
    <div class="form-group">
      <label for="title">Titel:</label>
      <input aria-describedby="emailHelp" class="form-control" id="title" maxlength="100"
             name="title" th:attr="minlength=${minTitleLength}, maxlength=${maxTitleLength}"
             placeholder="Gebe einen Titel ein." th:value="*{title}" type="text" required>
      <small class="form-text text-muted" id="emailHelp">Der Titel sollte möglichst präsize sein.</small>
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Inhalt:</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" name="content" rows="8"
                th:attr="minlength=${minContentLength}, maxlength=${maxContentLength}"
                th:value="*{content}" required></textarea>
    </div>
    <button class="btn btn-primary" type="submit">Erstellen</button>
  </form>
  <script>
      document.getElementById("thread-form").addEventListener("submit", event => {
          if ([[${inModeratedTopic}]]) {
              alert("Hey dein Beitrag wurde erstellt.\n" +
                  "Das Thema '[[${topicTitle}]]' befindet sich allerdings im Moderationsmodus,\n" +
                  "weswegen dein Beitragnoch freigegeben werden muss.");
          }
      });
  </script>
</main>
</body>
</html>