<!DOCTYPE html>
<html lang="en"
      th:replace="~{mopslayout :: html(name='Foren', headcontent=~{:: headcontent}, navigation=~{:: navigation}, bodycontent=~{:: bodycontent})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" rel="stylesheet">
  <script crossorigin="anonymous"
          integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
          th:src="@{'https://code.jquery.com/jquery-3.4.1.slim.min.js'}"></script>
  <meta charset="utf-8">
  <title th:text="${forumTitle} Moderationsmodus"></title>
  <th:block th:fragment="headcontent">
    <script src="https://kit.fontawesome.com/20ec73082f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}">
  </th:block>
</head>
<body>
<header>
  <nav class="navigation navigation-secondary" is="mops-navigation" th:fragment="navigation">
    <ul>
      <li class="active">
        <a href="#welcome" th:href="@{/foren}">Dashboard</a>
      </li>
      <li class="">
        <a href="#welcome" th:href="@{/foren/my-forums}">Meine Foren</a>
      </li>
      <li class="">
        <a href="#welcome" th:href="@{/foren/profile}">Profil</a>
      </li>
    </ul>
  </nav>
</header>
<main th:fragment="bodycontent">
  <h1 th:text="${forumTitle} + ' - Beiträge die noch freigegeben werden müssen:'">Beiträge</h1>
  <table class="table table-light">
    <thead class="thead-light">
    <tr>
      <th>Beitrag</th>
      <th>Name</th>
      <th>Letzte Änderung</th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <div th:each="thread : ${threads}">
      <tr class="mops-row"
          th:onclick="location.href ='/foren/thread?threadId=[[${thread.getId().getId()}]]&page=1'">
        <td th:text="${thread.getTitle()}">lorem</td>
        <td th:text="${false == thread.getAnonymous()}?${thread.getAuthor().getName()}:'Anonym'"></td>
        <td th:text="${thread.getFormattedDate()}">14:37Uhr</td>
        <td>
          <form method="post"
                th:action="@{/foren/thread/approve-thread(threadId=${thread.getId().getId()})}">
            <button class="btn btn-primary" type="submit">
              Freigeben
            </button>
          </form>
        </td>
        <td>
          <form th:if="${deletePermission}" method="post"
                th:action="@{/foren/thread/delete-thread(threadId=${thread.getId().getId()})}">
            <button class="delete-button btn-danger" type="submit">
              <i class="far fa-trash-alt"></i>
            </button>
          </form>
        </td>
      </tr>
    </div>
    </tbody>
  </table>
  <ul class="list-unstyled page-list">
    <li th:each="i : ${#numbers.sequence(pagingObject.getTotalPages(), 1)}">
      <button class="btn" th:onclick="location.href = '?topicId=[[${topicId}]]&page=[[${i}]]'"
              th:text="${i}"
              th:unless="${i == pagingObject.getCurrentPage()+1}"
              type="button">page#
      </button>
      <button class="btn btn-primary" th:if="${i == pagingObject.getCurrentPage()+1}"
              th:onclick="location.href = '?topicId=[[${topicId}]]&page=[[${i}]]'"
              th:text="${i}"
              type="button">page#
      </button>
    </li>
  </ul>
</main>
</body>
</html>