<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foren - Posts</title>

</head>
<style>
    .content {
        padding: 40px;
        text-align: center;
    }
    
    .card:not(.quote) {
        text-align: left;
        float: none;
        margin: 10px;
    }
    
    .write-answer {
        display: grid;
    }
    
    .quote {
        width: auto !important;
        margin-bottom: 10px;
    }
    
    .content-divider {
        border: 1px solid #52a1eb;
    }
    
    .preview-pic {
        width: 25px;
        height: 25px;
        float: left;
        background: green;
        margin: auto;
        margin-right: 8px;
    }
    
    .edit-button {
        float: right;
        clear: right;
    }
</style>

<body>
    <div class="container">
        <div class="content">
            <h4 style="text-align: left;">Ich brauche Hilfe bei Blatt 8 Aufgabe 4. Wieso benutzt man da Dijkstra. <br> Kann mir bitte jemand helfen ich dreh durch</h4>
            <div style="clear: initial;" class="row">
                <div class="card">
                    <div class="card-header">
                        <div class="preview-pic">

                        </div>
                        <div class="author" style="float: left;">
                            Jens Bendisposto
                        </div>
                        <div class="created-date" style="float: right;">
                            12.03.2020
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus necessitatibus numquam odit tempore incidunt nesciunt nulla laborum consequatur illum iste obcaecati doloremque eos cumque amet, architecto eius accusamus, laboriosam
                            sapiente. Mollitia amet vel porro libero atque officia quaerat, enim, rem voluptatibus eaque sequi expedita non natus? Aperiam est iste quidem neque eveniet natus maiores culpa sequi inventore. Illo, voluptatum explicabo. Sequi,
                            consequuntur dolores repudiandae ex, dolore totam quasi eius exercitationem fugiat recusandae deleniti obcaecati natus facere qui, nostrum consequatur labore unde! Debitis cum expedita, itaque velit exercitationem labore minus
                            ab? Laborum, placeat minima minus ullam soluta aliquid eum dolorum. Minima dolore modi architecto eveniet! Harum suscipit aut mollitia illo id quis aspernatur quae dolorem numquam nisi voluptatibus a, dolores qui. Molestias,
                            laudantium fuga maiores tempora et labore maxime eos, dicta explicabo blanditiis aliquid repellendus nostrum? Provident neque placeat doloremque exercitationem atque, quis pariatur cupiditate libero blanditiis ratione deleniti
                            commodi minus?</p>
                        <i class="edit-button fa fa-pencil" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div style="clear: initial;" class="row">
                <div class="card">
                    <div class="card-header">
                        <div class="preview-pic">

                        </div>
                        <div class="author" style="float: left;">
                            Jens Bendisposto
                        </div>
                        <div class="created-date" style="float: right;">
                            12.03.2020
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card quote">
                            <div class="card-header">
                                Jens B.
                            </div>
                            <div class="card-body">
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque excepturi perferendis aspernatur? Ipsam id beatae repellendus labore nobis cumque nulla, corporis deleniti asperiores aperiam ea. Quos ullam optio culpa corporis.</p>
                            </div>
                        </div>
                        <p class="card-text">Find ich gut.</p>
                        <i class="edit-button fa fa-pencil" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <hr class="content-divider" style="width: auto;">

            <div class="row write-answer">
                <div class="card">
                    <div class="card-header">
                        <div class="author" style="float: left; clear: left;">
                            Antwort erstellen
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <textarea id="my-textarea" class="form-control" name="" rows="3"></textarea>
                        </div>
                    </div>
                    <button class="btn btn-primary" type="button">abschicken</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>