<!DOCTYPE html>
<html lang="en"
      th:replace="~{mopslayout :: html(name='Foren', headcontent=~{:: headcontent}, navigation=~{:: navigation}, bodycontent=~{:: bodycontent})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <link href="font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" rel="stylesheet">
  <script crossorigin="anonymous"
          integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
          src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
  <script crossorigin="anonymous"
          integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
          src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script crossorigin="anonymous"
          integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
          src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Foren - Posts</title>

</head>
<th:block th:fragment="headcontent">
  <style>
    .page-list, .page-list > li {
      float: right;
    }

    .content {
      padding: 40px;
      text-align: center;
    }

    .card:not(.quote) {
      text-align: left;
      float: none;
      margin: 10px;
    }

    .write-answer {
      display: grid;
    }

    .quote {
      width: auto !important;
      margin-bottom: 10px;
    }

    .content-divider {
      border: 1px solid #52a1eb;
    }

    .preview-pic {
      width: 25px;
      height: 25px;
      float: left;
      background: green;
      margin: auto;
      margin-right: 8px;
    }

    .edit-button {
      float: right;
      clear: right;
    }
  </style>
</th:block>
<body>
<header>
  <nav class="navigation navigation-secondary" is="mops-navigation" th:fragment="navigation">
    <ul>
      <li class="active">
        <a href="#welcome" th:href="@{/foren}">Dashboard</a>
      </li>
      <li class="">
        <a href="#welcome" th:href="@{/foren/my-forums}">Meine Foren</a>
      </li>
      <li class="">
        <a href="#welcome" th:href="@{/foren/profile}">Profil</a>
      </li>
    </ul>
  </nav>
</header>
<main th:fragment="bodycontent">
  <div class="container">
    <div class="content">
      <h2 style="text-align: left;" th:text="${thread.getTitle()}">Title</h2>
      <div style="clear: initial;" th:class="row" th:each="post : ${posts}">
       <span th:if="${post.getVisible()==true}">
         <div class="card col p-0">
           <div th:class="card-header">
             <div th:class="preview-pic">
             </div>
             <div style="float: left;" th:class="author"
                  th:text="${false == post.getAnonymous()}?${post.getAuthor().getName()}:'Anonym'">
               Jens Bendisposto
             </div>
             <div style="float: right;" th:class="created-date" th:text="${post.getFormattedDate()}">
               12.03.2020
             </div>
           </div>
           <div th:class="card-body">
             <p th:class="card-text" th:text="${post.getText()}"></p>
           </div>
           <div>
            <form method="post" th:action="@{/foren/post/delete-post(threadId=${thread.getId().getId()},
                                  postId=${post.getId().getId()},
                                  page=${pagingObject.getCurrentPage()})}">
              <button class="btn btn-danger" type="submit">
                Post löschen
              </button>
            </form>
           </div>
         </div>
       </span>
        <span th:if="${post.getVisible()==false && moderator==true}">
         <div class="card border-warning p-0">
           <div th:class="card-header">
             <div th:class="preview-pic">
             </div>
             <div style="float: left;" th:class="author"
                  th:text="${false == post.getAnonymous()}?${post.getAuthor().getName()}:'Anonym'">
               Jens Bendisposto
             </div>
             <div style="float: right;" th:class="created-date" th:text="${post.getFormattedDate()}">
               12.03.2020
             </div>
           </div>
           <div th:class="card-body">
             <p th:class="card-text" th:text="${post.getText()}"></p>
           </div>
           <div class="card-footer bg-transparent border-success">
           <form method="post"
                 th:action="@{/foren/post/approvePost(postId=${post.getId().getId()},threadId=${thread.getId().getId()})}">
             <button class="btn btn-warning" type="submit">
               Post freigeben
             </button>
           </form>
             <form method="post" th:action="@{/foren/post/delete-post(threadId=${thread.getId().getId()},
                                  postId=${post.getId().getId()},
                                  page=${pagingObject.getCurrentPage()})}">
              <button class="btn btn-danger" type="submit">
                Post löschen
              </button>
             </form>
           </div>

         </div>
       </span>
      </div>
      <hr class="content-divider" style="width: auto;">

      <ul class="list-unstyled page-list">
        <li th:each="i : ${#numbers.sequence(pagingObject.getTotalPages(), 1)}">
          <button class="btn"
                  th:onclick="location.href = '?threadId=' + '[[${thread.getId().getId()}]]' + '&page=' + '[[${i}]]'"
                  th:text="${i}"
                  th:unless="${i == pagingObject.getCurrentPage()+1}"
                  type="button">page#
          </button>
          <button class="btn btn-primary" th:if="${i == pagingObject.getCurrentPage()+1}"
                  th:onclick="location.href = '?threadId=' + '[[${thread.getId().getId()}]]' + '&page=' + '[[${i}]]'"
                  th:text="${i}"
                  type="button">page#
          </button>
        </li>
      </ul>
      <br><br>
      <div class="row write-answer">
          <div class="card">
            <div class="card-header">
              <div class="author" style="float: left; clear: left;">
                Antwort erstellen
              </div>
            </div>
            <form method="post"
                  th:action="@{/foren/post/new-post(threadId=${thread.getId().getId()}, page=${pagingObject.getCurrentPage()})}"
                  th:object="${form}">
              <div class="card-body">
                <div class="form-group">
                  <div class="alert alert-warning" id="error-message" th:if="${!#strings.isEmpty(error)}"
                       th:text="${error}">
                    error message goes here (or not)
                  </div>
                  <textarea class="form-control" id="my-textarea" name="postContent"
                            rows="3" th:value="*{postContent}"
                            th:attr="minlength=${minContentLength}, maxlength=${maxContentLength}" required></textarea>
                </div>
              </div>
              <button class="btn btn-primary" type="submit">abschicken</button>
            </form>

        </div>
      </div>
    </div>
  </div>
</main>
</body>

</html>
